@model WebAppComp3011.Models.Fragrance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fragrance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FragUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FragUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FragName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FragName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Top)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Top)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Middle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Middle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfumer1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfumer1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfumer2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfumer2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainAccords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainAccords)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
