@model IEnumerable<WebAppComp3011.Models.Fragrance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FragUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FragName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes.Top)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes.Middle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes.Base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfumer1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfumer2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainAccords)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FragUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FragName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes.Top)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes.Middle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes.Base)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfumer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfumer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainAccords)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
